@media screen and (max-width: 768px) {
    .navbar {
      flex-direction: column;
    }
  
    .card {
      width: 100%;
    }
  }
  @media screen and (max-width: 768px) {
    .navbar {
      flex-direction: column;
    }
  
    .card {
      width: 100%;
    }
  }
  